<div class="employee-list-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Employee Management</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="actions-container">
                <mat-form-field appearance="outline">
                    <mat-label>Search Employees by Name and/or Title</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Type to search by name and/or title">
                    <mat-icon matTooltip = "Search works only for Name and/or Title"
                        matTooltipPosition="below"
                        matPrefix>info_outline</mat-icon>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <button mat-raised-button color="cyan" (click)="openAddDialog()">
                    <mat-icon>list</mat-icon>
                    Tittle List
                </button>

                <button mat-raised-button color="secondary" (click)="openAddDialog()">
                    <mat-icon>add</mat-icon>
                    Add Employee
                </button>
            </div>

            <div class="mat-elevation-z8 table-container">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dob">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
                        <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                    </ng-container>

                    <ng-container matColumnDef="joinDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Join Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.joinDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="currentTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>

                    <ng-container matColumnDef="currentSalary" style="text-align: center;">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
                        <td mat-cell *matCellDef="let element"> {{element.salary | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="viewDetails(element)">
                                    <mat-icon>visibility</mat-icon>
                                    <span>View</span>
                                </button>
                                <button mat-menu-item (click)="editEmployee(element)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item (click)="deleteEmployee(element)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25]"
                             showFirstLastButtons
                             aria-label="Select page">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>